.banner {
    display: flex;
    align-items: center;
    background-color: $white;
    position: relative;
    height: 100vh;
    .row {
        position: relative;
        .main-text {
            font-size: 5.8rem;
            text-transform: uppercase;
            letter-spacing: 42px;
            font-weight: 700;
            color: $white;
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            mix-blend-mode: difference;
            z-index: 9;
            @media(max-width: 1440px) {
                font-size: 4.4rem;
                letter-spacing: 36px;
            }
        }
        .main-img {
            width: 560px;
            margin: 0 auto;
            @media(max-width: 1440px) {
                width: 460px;
            }
        }
        .side-img {
            width: 260px;
            position: absolute;
            @media(max-width: 1440px) {
                width: 208px;
            }
            &.left {
                left: 168px;
                top: 12px;
            }
            &.right {
                right: 168px;
                bottom: 12px;
            }
        }
    }
}