.work {
    padding: 48px 0;
    background: $black;
    position: relative;
    align-items: center;
    height: 100%;
    .inner-work {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .content {
            width: 100vw;
            margin: 30px;
        }
        
        .projects {
            width: 100%;
            display: grid;
            column-gap: 10px;
            row-gap: 15px;
            grid-template-columns: 1fr 1fr;
            a {
                text-decoration: none;
            }
        }
        .project {
            color: $white;
            text-align: center;
            border: 3px solid $white;
            border-radius: 4px;
        }
    }
}